.game_div {
    width: 500px;
    height: 500px;
}

.game_row {
    height: 50%;
    width: 100%;
}

.game_tile {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #111111;
}

.game_tile:hover {
    border-style: ridge;
    border-width: 2px;
    border-color: #222222;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.game_tile_text_container {
    display: table;
    height: 100%;
    width: 100%;
}

.game_tile_text_container > p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-weight: 500;
    font-size: 40px;
}